<p id="notice"><%= notice %></p>

<h1>Comments</h1>
<h2> Author : <%=  @post.author.name %>  </h2>
<h2> Post : <%= params[:post_title] %>  </h2>


<table>
  <thead>
    <tr>
      <th>Body</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
<br>
<br>
<%= link_to 'Back to Posts', posts_path(:author_id =>@post.author.id, :author_name => @post.author.name) %>
<br>
<br>
<%= link_to 'Back to Authors', authors_path %>