<p id="notice"><%= notice %></p>

<p>
  <strong> Comment for post </strong>
  <%= @comment.post.title %>
</p>


<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path(:post_id=> @comment.post.id,:post_title => @comment.post.title) %>
